
#map {
    height: 700px;
    width: 1024px;
}


.encabezado {
    display: flex;
    color: cornflowerblue;
    justify-content: center;
}


#lista-charlas {
    
    margin-bottom: 20px;
}

.charla {
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    width: 300px;
}
.seleccionada{
    background-color: lightgreen;
}

.lista-mapa{
    display: flex;
    
}